
#mainPage {
    visibility: hidden;
}

#jsonGetDiv {
    color:wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;

    width:300px;
    padding:5px;
    border-radius: 2px;

    background-image: url("/static/images/nameBox.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Main page containers */
.pageWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pageContainer {
    width: 100%;
    margin-top:5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*Campaign id tabs styling*/
.infoContainer {
    display: flex;
    flex-direction: column;
}
.infoContainer h2 {
    padding: 5px;
    font-family: inherit; /* Inherit the font-family from the body */
    margin: 0px;
}

/* Campaign Name and Date Styling */
.campaignDataContainer {
    position: relative;
    display: flex;
    justify-content: center;
    
}

#campaignNameBanner {
    width:100%;
}

#campaignName {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;

    cursor: default;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

#campaignDateBanner {    
    width: 40%;
}


#campaignDate {
    position: absolute;
    top: 45%;
    left: 52.5%;
    transform: translate(-50%, -50%);

    font-size:120%;
    color: wheat;
    text-align: center;
    cursor: default;
}

/* Media query for very small screens */
@media (max-width: 480px) {
    #campaignDateBanner {
        width: 60%;
    }

    #campaignName {
        font-size: 1rem; /* Even smaller font size */
        top: 36%;
    }
    #campaignDate {
        font-size: 1rem;
    }
}


/* Act and ascension display */

#actDisplay {
    padding: 10px;
    color: wheat;
    font-size: 1.8rem;
    font-weight: bold;
    
    transition: all 0.1s ease-in-out;
    border: 2px solid silver;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    display:inline-block;
    width:150px;
    text-align: center;

    background-image: url('/static/images/actOne.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#ascDisplay {
    padding: 10px;
    color: rgb(255, 58, 58);
    font-size: 1.8rem;
    font-weight: bold;
    
    transition: all 0.1s ease-in-out;
    border: 2px solid darkred;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    float:right;

    width: 150px;
    text-align: center;

    background-image: url('/static/images/ascensionBG.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 360px) {
    #ascDisplay, #actDisplay {
        width: 90px;
        font-size: 1.1rem;
    }
}
#keyGreen,
#keyBlue,
#keyRed,
#keyGreenGlow,
#keyBlueGlow,
#keyRedGlow {
    cursor: default;
}

/*Player character page styling*/
.playerContainer {
    position: relative;
}
.playerNameBanner {
    width: 400px;
    height: 60px;
    margin: 27px 0px 27px 20px;

    border-radius: 5px;
    

    z-index: -1;
}

#ironcladNameBanner {
    filter: hue-rotate(0deg);
}

#silentNameBanner {
    filter: hue-rotate(100deg);
}

#defectNameBanner {
    filter:  hue-rotate(190deg);
}

#watcherNameBanner {
    filter:  hue-rotate(250deg);
}

.playerNameText {
    position: absolute;
    top: 25%;
    left: 110px;


    font-size: 1.1rem;
    color: wheat;
    box-shadow: 10px 10px 10px 10px, black;
}
.playerIcon {
    position: absolute;
    width: 100px;
    top: 8px;
    left: 5px;

}

@media (max-width: 440px) {
    .playerNameBanner {
        width: 80%;

    }

    .playerIcon {
        width: 95px;
    }
}

.heartLabel {
    cursor: default;
}

.healthHeart {
    cursor: default;
}


/*Main container styling for reader, slight adjustments from writerStyles*/
.item-container .container-body {
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.containerHeader {
    position: relative;
}

.containerLabelImage {
    height: 50px;
}

.containerPlaceholder {
    color: wheat;
    font-size: 1rem;
    padding: 10px;
}

.item {
    width: 95px;
    cursor: default;
}

.item-footer {
    width:100%;
    justify-content: center;
}

.item-label {
    text-align: center;
}

.card-list-item {
    /*background-color: transparent;*/
    border-radius: 2px;
    padding-left: 10px;
    height: auto;
    cursor: default;
}
.card-list-item.starter-card {
    background-color: transparent;
}

.upgraded-card-label {
    color: rgb(125, 225, 80);
}

.card-image {
    width: 100px;
    height: auto;
}