:root {
    --base-color: #212529;
    --base-color-rgb: 33, 37, 41;
    --accent-color: #6C757D;
    --accent-color-rgb: 108, 117, 125;
    --highlight-color: #F8F9FA;
    --highlight-color-rgb: 248, 249, 250;
    --background-img: url(/static/images/general_background.jpg);
}

/* General Styles */

@font-face { font-family: Kreon; src: url('/static/fonts/Kreon-Regular.ttf'); } 
@font-face { font-family: Kreon; font-weight: bold; src: url('/static/fonts/Kreon-Bold.ttf');}

body {
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: Kreon, sans-serif;
    overflow-x: hidden;
}

/* Apply the same font-family to all form elements */
input, button {
    font-family: inherit; /* Inherit the font-family from the body */
    margin: 0px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    border-color: wheat;
    box-shadow: 0 0 5px rgba(245, 222, 179, 0.5);
}

a, button, img {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

#merchantHand {
    display: none;
    position: absolute;
    height: 100%;
    pointer-events: none;
    transition: transform 0.1s ease;
    z-index: 1;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    max-width: 768px;
}

/* Nav Styles */

#formNav {
    display: flex;
    justify-content: space-around;
}

#formNav img {
    width: 15%;
    max-width: 100px;
    height: auto;

    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#formNav img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#formNav img:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#formNav img.active {
    box-shadow: 0px 0px 20px 3px yellow;
}

@media (min-width: 768px) {
    #formNav {
        justify-content: center;
        gap: 40px;
    }
}

/* Form Styles */
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formContainer input {
    padding: 5px;
    font-size: 1rem;
    background-color: black;
    color: wheat;

    background-image: url("/static/images/nameBox.png");
    background-size: cover; /* Cover the entire input field */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
}

/*  Ascension Range styling */

/* General styling for the range input */
input[type="range"] {
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    appearance: none;
    height: 20px; /* Adjust track height */
    border: 2px solid;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    border-image: linear-gradient(to right, rgb(21, 0, 0), red) 1;
}

/* Chrome, Safari, and Opera - styling the thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default thumb appearance */
    appearance: none;
    margin-top: 3px;
    width: 30px; /* Adjust the size of the image */
    height: 30px;
    background: url('/static/images/ascension.png');
    background-size: cover;
    cursor: pointer; /* Show pointer on hover */
}

/* Firefox - styling the thumb */
input[type="range"]::-moz-range-thumb {
    width: 30px; /* Adjust the size of the image */
    height: 30px;
    background: url('/static/images/ascension.png'); /* Set your custom image */
    background-size: cover;
    cursor: pointer;
}

/* IE and Edge - styling the thumb */
input[type="range"]::-ms-thumb {
    width: 30px;
    height: 30px;
    background: url('/static/images/ascension.png');
    background-size: cover;
    cursor: pointer;
}

#ascensionRange:focus {
    box-shadow: 0 0 5px rgba(255, 0, 0 ,0.5) inset;
}

.inlineForm {
    display: grid;
    grid-template-columns: 1fr 11fr;
    align-items: center;
}

.inlineForm input {
    border-start-start-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}

.inlineForm label {
    display: flex;
    background-image: url("/static/images/disabledButton.png");
    background-size: cover;
    color: wheat;
    justify-content: center;
}

#actButtonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#actButtonContainer button {
    padding: 10px;
    color: wheat;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#actButtonContainer button.active {
    color: white;
    border: 2px solid wheat;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    filter: brightness(1.2);
}

#actOne {
    background-image: url('/static/images/actOne.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#actTwo {
    background-image: url('/static/images/actTwo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#actThree {
    background-image: url('/static/images/actThree.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#actFour {
    background-image: url('/static/images/actFour.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#download {
    color: wheat;
    background: transparent;
    width: auto;
    display: inline-block;
    width: 180px;
    align-self: center;
    position: relative;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#download:hover {
    transform: scale(1.05);
}

#download:active {
    transform: scale(0.95);
}

#download img {
    display: block;
    width: 100%;
}

#download span {
    position: absolute;
    top: 50%; /* Move span to the vertical center */
    left: 50%; /* Move span to the horizontal center */
    transform: translate(-50%, -50%); /* Adjust the center point */
    color: wheat; /* Text color */
    font-size: 1rem; /* Text size */
    font-weight: bold;
    margin-top: 2px;
    padding: 5px 10px; /* Optional: padding around the text */
}

#keyContainer {
    display: grid;
    grid-template-rows: auto auto;
}

#keyGreenContainerWrapper, #keyBlueRedContainerWrapper {
    display: flex;
    justify-content: center;
    gap: 18px;
}

#keyGreenContainer {
    width: 75px;
    position: relative;
    margin-left: 1px;
}

#keyRedContainer, #keyBlueContainer {
    position: relative;
    width: 85px;
}

#keyGreen,
#keyBlue,
#keyRed,
#keyGreenGlow,
#keyBlueGlow,
#keyRedGlow {
    width: 100%;
    cursor: pointer;
    display: block;
}

#keyBlueGlow, #keyGreenGlow, #keyRedGlow {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

@keyframes glow {
    0% {
        filter: brightness(0.5)
    }
    10% {
        filter: brightness(0.6)
    }
    20% {
        filter: brightness(0.7)
    }
    30% {
        filter: brightness(0.8)
    }
    40% {
        filter: brightness(0.9)
    }
    50% {
        filter: brightness(1)
    }
    60% {
        filter: brightness(0.9)
    }
    70% {
        filter: brightness(0.8)
    }
    80% {
        filter: brightness(0.7)
    }
    90% {
        filter: brightness(0.6)
    }
    100% {
        filter: brightness(0.5)
    }
}

.glow {
    animation: glow 5s ease-in-out infinite;
}
