:root {
    --base-color: #212529;
    --base-color-rgb: 33, 37, 41;
    --accent-color: #6C757D;
    --accent-color-rgb: 108, 117, 125;
    --highlight-color: #F8F9FA;
    --highlight-color-rgb: 248, 249, 250;
    --background-img: url(/static/images/general_background.jpg);
}

/* General Styles */

@font-face { font-family: Kreon; src: url('/static/fonts/Kreon-Regular.ttf'); } 
@font-face { font-family: Kreon; font-weight: bold; src: url('/static/fonts/Kreon-Bold.ttf');}

body {
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: Kreon, sans-serif;
    overflow-x: hidden;
    margin: 0;
}

/* Apply the same font-family to all form elements */
input, button {
    font-family: inherit; /* Inherit the font-family from the body */
    margin: 0px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    border-color: wheat;
    box-shadow: 0 0 5px rgba(245, 222, 179, 0.5);
}

img {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

img:focus, img:active {
    outline: none;
}

div:focus, div:active, button:focus, button:active {
    outline: none;
    -webkit-tap-highlight-color: transparent; /* For WebKit browsers */
}

#merchantHand {
    display: none;
    position: absolute;
    height: 100%;
    pointer-events: none;
    transition: transform 0.1s ease;
    z-index: 2;
}

#logoContainer {
    display: flex;
    justify-content: center;
}

#logo {
    width: 70%;
    max-width: 300px;
}


.wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;

    max-width: 768px;
}

/* Nav Styles */

#formNav {
    display: flex;
    justify-content: space-around;
}

#formNav img {
    width: 15%;
    max-width: 100px;
    height: auto;

    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#formNav img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#formNav img:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#formNav img.active {
    box-shadow: 0px 0px 20px 3px wheat;
}

@media (min-width: 768px) {
    #formNav {
        justify-content: center;
        gap: 40px;
    }
}

/* Form Styles */
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formContainer input {
    padding: 5px;
    font-size: 1rem;
    background-color: black;
    color: wheat;

    background-image: url("/static/images/nameBox.png");
    background-size: cover; /* Cover the entire input field */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
}

/* Campaign Name Styling */
#campaignNameContainer {
    position: relative;
}

#campaignNameBanner {
    width: 100%;
}

#campaignName {
    position: absolute;
    top: 37%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    border: none;
}

#campaignName:focus {
    box-shadow: none;
}

/* Media query for very small screens */
@media (max-width: 480px) {
    #campaignName {
        font-size: 0.8rem; /* Even smaller font size */
        top: 36%;
    }
}

/* Act Button Styling */

#actButtonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#actButtonContainer button {
    padding: 10px;
    color: wheat;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#actButtonContainer button.active {
    color: white;
    border: 2px solid wheat;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    filter: brightness(1.2);
}

#actOne {
    background-image: url('/static/images/actOne.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#actTwo {
    background-image: url('/static/images/actTwo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#actThree {
    background-image: url('/static/images/actThree.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#actFour {
    background-image: url('/static/images/actFour.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Keys Styling */

#keyContainer {
    display: grid;
    grid-template-rows: auto auto;
}

#keyGreenContainerWrapper, #keyBlueRedContainerWrapper {
    display: flex;
    justify-content: center;
    gap: 21px;
}

#keyGreenContainer {
    width: 75px;
    position: relative;
}

#keyRedContainer, #keyBlueContainer {
    position: relative;
    width: 90px;
}

#keyBlueContainer {
    margin-right: 7px;
}

#keyGreen,
#keyBlue,
#keyRed,
#keyGreenGlow,
#keyBlueGlow,
#keyRedGlow {
    width: 100%;
    cursor: pointer;
    display: block;
}

#keyBlueGlow, #keyGreenGlow, #keyRedGlow {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

@keyframes glow {
    from {
        filter: brightness(0.5)
    }
    50% {
        filter: brightness(1)
    }
    to {
        filter: brightness(0.5)
    }
}

.glow {
    animation: glow 5s ease-in-out infinite;
}

/*  Ascension Range styling */

/* General styling for the range input */
input[type="range"] {
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    appearance: none;
    border: 2px solid;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    border-image: linear-gradient(to right, rgb(21, 0, 0), red) 1;
}

/* Chrome, Safari, and Opera - styling the thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default thumb appearance */
    appearance: none;
    margin-top: 3px;
    width: 50px; /* Adjust the size of the image */
    height: 50px;
    background: url('/static/images/ascension.png');
    background-size: cover;
    cursor: pointer; /* Show pointer on hover */
}

/* Firefox - styling the thumb */
input[type="range"]::-moz-range-thumb {
    width: 50px; /* Adjust the size of the image */
    height: 50px;
    background: url('/static/images/ascension.png'); /* Set your custom image */
    background-size: cover;
    cursor: pointer;
}

/* IE and Edge - styling the thumb */
input[type="range"]::-ms-thumb {
    width: 50px;
    height: 50px;
    background: url('/static/images/ascension.png');
    background-size: cover;
    cursor: pointer;
}

#ascensionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ascensionRange {
    width: 100%;
    height: 35px;
    margin-bottom: 3px;
}

#ascensionRange:focus {
    box-shadow: 0 0 5px rgba(255, 0, 0 ,0.5) inset;
}

#ascensionWrapper {
    position: relative;
    width: 100px;
}

#ascensionWrapper img {
    width: 100%;
}

#ascensionLayer2 {
    position: absolute;
    top: 0;
    left: 0;
    animation: rotate 10s linear infinite;
}

#ascensionValue {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
    font-size: 1.5rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Option Button Styling */
/* .optionButton {
    position: relative;
    color: wheat;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    align-self: center;
}

.optionButton img {
    width: 100%;
}

.optionButton span {
    position: absolute;
    top: 48%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: wheat; 
    font-size: 1.2rem; 
    font-weight: bold;
}

@media (max-width: 480px) {
    .optionButton {
        width: 100%;
    }

    .optionButton span {
        font-size: 1rem;
    }
} */

/* Download Button Styling */

#download {
    color: wheat;
    background: transparent;
    width: auto;
    display: inline-block;
    width: 180px;
    align-self: center;
    position: relative;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#download:hover {
    transform: scale(1.05);
}

#download:active {
    transform: scale(0.95);
}

#download img {
    display: block;
    width: 100%;
}

#download span {
    position: absolute;
    top: 50%; /* Move span to the vertical center */
    left: 50%; /* Move span to the horizontal center */
    transform: translate(-50%, -50%); /* Adjust the center point */
    color: wheat; /* Text color */
    font-size: 1rem; /* Text size */
    font-weight: bold;
    margin-top: 2px;
    padding: 5px 10px; /* Optional: padding around the text */
}

/* Modal Styling */

/* Item Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.modal-content {
    background-image: url('/static/images/relicModalBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    margin: 100px auto;
    border: 2px solid wheat;
}

@media (max-width: 480px) {
    .modal-content {
        width: 100%;
        min-height: 100vh;
        margin: 0px;
        border: none;
    }

    .modal-body {
        overflow-y: scroll;
        height: calc(100vh - 70px); /* 70px is height of header */
    }
}

.modal-header {
    background-image: url('/static/images/modalHeaderBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px black;
    padding: 5px;
    padding-left: 10px;
}

.modal-title {
    font-size: 1.4rem;
    color: wheat;
}

.open-modal-btn, .close-modal-btn {
    cursor: pointer;
}

.close-modal-btn:hover {
    filter: brightness(1.3);
}

.modal.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.modal-open {
    overflow: hidden;
}

/* Relic Modal Styling */

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 10px;
    padding: 10px;
    padding-bottom: 0;
    align-items: flex-start;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.item.preview {
    width: 100px;
    min-width: 100px;
    cursor: auto;
    text-align: center;
}

.item.preview .item-footer {
    justify-content: center;
}

.item.preview .item-image.active {
    box-shadow: none;
}

.item-image {
    width: 100%;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid wheat;
    box-shadow: 0 0 10px black;
    border-radius: 7px;
    box-sizing: border-box;
}

.item-image.active {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px wheat;
}

.item-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-label, .card-label {
    color: wheat;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

/* Card Modal Styling */
.card-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-list-item {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 50px;
    border-top: 1px solid wheat;
    box-sizing: border-box;
    cursor: pointer;
}

.card-list-item:first-child {
    border: none;
}

.card-list-item.active {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px wheat inset;
}

.flex-spacer {
    display: flex;
    flex-grow: 1;
}

.card-upgrade {
    height: 50px;
    padding: 7px;
    box-sizing: border-box;
    transition: transform 0.5s ease, filter 0s;
    transition-delay: 0s, 0.2s;
    transition-property: transform, filter;
    transform-origin: center;
    cursor: cell;
}

.card-image {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 7px;
    box-sizing: border-box;
}

.potion-image {
    height: 50px;
    padding-bottom: 5px;
    box-sizing: border-box;
}




/* Relic Container Styling */
.container {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid wheat;
}

.containerHeader {
    position: relative;
}

.containerLabelImage {
    height: 50px;
}

/* All varying container labels */

#skippedRelicsContainer .containerLabelImage {
    filter: brightness(0) saturate(100%) invert(38%) sepia(49%) saturate(519%) hue-rotate(127deg) brightness(92%) contrast(94%);
}

#skippedBossRelicsContainer .containerLabelImage {
    filter: brightness(0) saturate(100%) invert(25%) sepia(40%) saturate(1509%) hue-rotate(266deg) brightness(92%) contrast(90%);
}

#skippedPotionsContainer .containerLabelImage {
    filter: brightness(0) saturate(100%) invert(46%) sepia(100%) saturate(344%) hue-rotate(337deg) brightness(89%) contrast(97%);
}

#skippedCursesContainer .containerLabelImage {
    filter: brightness(0) saturate(100%) invert(7%) sepia(1%) saturate(2887%) hue-rotate(315deg) brightness(87%) contrast(74%);
}

#skippedColorlessContainer .containerLabelImage {
    filter: brightness(0) saturate(100%) invert(53%) sepia(3%) saturate(446%) hue-rotate(300deg) brightness(90%) contrast(82%);
}

/* Container styling */

.containerLabel {
    position: absolute;
    top: 12px;
    left: 7px;
    font-size: 1.5rem;
    color: wheat;
}

.container-placeholder {
    color: wheat;
    font-size: 1rem;
}

.item-container .container-body {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
}

.card-container .container-body {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-container .container-body .card-list-item:first-child {
    border-top: 1px solid wheat;
}

.card-container .container-body .container-placeholder {
    padding: 10px;
}